@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #0EA5E9;
}

.wrapper {
  width: 600px;
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

header {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.quote-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.quote-area i {
  font-size: 18px;
  color: #1E1E1E;
}

.quote-area .left {
  margin-right: 10px;
}

.quote-area .right {
  margin-left: 10px;
}

.quote {
  font-size: 22px;
  text-align: center;
  color: #1E1E1E;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  margin-top: 20px;
  font-style: italic;
  color: #1E1E1E;
}

.author span:first-child {
  margin-right: 5px;
}

.buttons {
  margin-top: 20px;
  border-top: 1px solid #1E1E1E;
  padding-top: 20px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features ul {
  display: flex;
}

.features ul li {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  border: 2px solid #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.features ul li:hover {
  background: #1E1E1E;
  color: #fff;
}

button {
  background: #1E1E1E;
  color: #fff;
  padding: 12px 22px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #333;
}

footer {
  position: fixed;
  bottom: 20px;
  text-align: center;
  background: rgba(255,255,255,0.6);
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 700;
}

footer span {
  font-weight: 600;
}